id: '{{ id }}'
type: library
language: typescript
stack: unknown
tags:
  - 'jest'
  - 'tsc'
  - 'eslint'
  - 'prettier'
  - 'code-quality'

project:
  name: '{{ scope | lower_case }}/{{ name | kebab_case }}'
  description: '{{ description }}'