name: Add changeset to Renovate updates

on:
  pull_request_target:
    types: [opened, synchronize, labeled]

jobs:
  renovate:
    name: Update Renovate PR
    runs-on: ubuntu-latest
    if: contains(github.event.pull_request.labels.*.name, 'dependencies')

    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
        with:
          fetch-depth: 0

      - name: Setup Toolchain
        uses: moonrepo/setup-toolchain@8794f0318b9df4a43a5ddc23cefd16f595b423dd # v0
        with:
          auto-install: true

      - name: Install dependencies
        run: pnpm install

      - name: Update PR
        uses: mscharley/dependency-changesets-action@f456a98d34595a68d4b9412368a57533be0584ad # v1.2.3
        with:
          token: ${{ secrets.PR_GITHUB_TOKEN }}
          use-conventional-commits: true
          author-name: github-actions[bot]
          author-email: github-actions[bot]@users.noreply.github.com
